<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>

    <hr>

    <h2>Add a new post</h2>
    <form action="/insert_post" method="post">
      <div>
        <label for="title_box">Title</label>
        <input type="text" name="query_title" id="title_box">
      </div>

      <div>
        <label for="body_box">Body</label>
        <textarea name="query_body" id="body_box" rows="3"></textarea>
      </div>

      <div>
        <label for="expire_box">Expires on</label>
        <input type="date" name="query_expires_on" id="expire_box">
      </div>

      <div>
        <button>Add post</button>
      </div>
    </form>
    
   
  </div>
</div>

<hr>

<h2>Active posts</h2>
<table border="1">
  <th>Title</th>
  <th>Body</th>
  <th>Posted on</th>
  <th>Expires on</th>
</table>


<hr>

<h2>Expired posts</h2>
